<div id="side-scroller">
  <div class="layer sky-layer background-layer">
    <div class="scroller"></div>
  </div>

  <div class="layer ground-layer terrain-layer">
    <div class="scroller"></div>
    <div class="scroller"></div>
    <div class="stage"></div>
  </div>

  <div class="layer sky-layer foreground-layer">
    <div class="scroller"></div>
  </div>

  <div class="layer ground-layer background-layer">
    <div class="scroller"></div>
    <div class="stage"></div>
  </div>

  <div class="layer ground-layer foreground-layer">
    <div class="scroller"></div>
    <div class="stage"></div>
  </div>
</div>
