---
layout: default
title:  Biking Across America
---

<div class="container py-sm-2 my-sm-2 py-4 my-4 text-center">
  <h1 class="display-1">Biking Across America</h1>
  <p class="lead">{{ site.description }}</p>

  <hr />

  <div class="d-flex justify-content-center">
    {% include navigation-links.html %}
  </div>

  <hr />

  {% assign dayOfYear = "today" | date: "%j" %}
  {% assign startDay  = site.nominal_start_date | date: "%j" %}

  {% if dayOfYear < startDay %}
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <p class="lead text-center">The adventure begins in</p>
        <div id="countdown" class="d-flex text-center font-monospace"></div>
      </div>
    </div>
  {% else %}
    {% include quick-stats.html %}
  {% endif %}
</div>

{% include scroller-dom.html %}

{% include script-tags.html %}

<script>
  window.locationPins  = {{ site.data.location-checkin | jsonify }};
  window.googleMapsKey = "{{ site.maps_api_key }}";

  require(
    ['lib/countdown', 'lib/side-scroller'],
    function ({ default: Countdown }, { default: SideScroller}) {
      {% if dayOfYear < startDay %}
        new Countdown('{{ site.nominal_start_date }}', '#countdown');
      {% endif %}

      new SideScroller();
    }
  );
</script>
