---
layout: default
title: Media - Biking Across America
---

{% include navigation-links.html %}

<div class="container">
  <h1 id="image-header" class="display-5 powered-by">Photo Wall</h1>

  <div id="image-gallery" class="gg-container">
    <div class="gg-box">
      {% for image in site.data.gallery-wall.images %}
        <img
            src="https://live.staticflickr.com/{{image.thumb}}"
            loading="lazy"
            height="{{image.txy.h}}"
            width="{{image.txy.w}}"
            alt="{{image.title}}"
            class="fade rounded"
            data-full-res="https://live.staticflickr.com/{{image.image}}"
            data-full-res-h="{{image.ixy.h}}"
            data-full-res-w="{{image.ixy.w}}"
            data-flickr-url="https://www.flickr.com/photos/{{image.owner}}/{{image.id}}"
            onload="this.classList.add('show')"
        />
      {% endfor %}
    </div>
  </div>
</div>

{% include script-tags.html %}

<script>
  require(['lib/lightbox'], ({ default: Lightbox }) => {
    new Lightbox('.gg-container');
  });
</script>
