---
layout: default
title: Media - Biking Across America
---

{% include navigation-links.html %}

<div class="container">
  <h2 class="visually-hidden">YouTube</h2>

  <div class="row mb-1 mb-sm-2 mt-sm-1 mb-md-4 mt-md-2">
    <div class="col-3 col-md-2">
      <a
          href="https://youtube.com/playlist?list=PL0pwvLDPlsi6YwpKwBsUilTRK1x5RTr9s"
          target="_blank"
          rel="nofollow noopener"
      >
        <img src="/assets/images/youtube-logo.png" alt="The YouTube Logo" class="img-fluid" />
      </a>
    </div>
  </div>

  <div class="ratio ratio-21x9">
    <iframe
        src="https://www.youtube-nocookie.com/embed/videoseries?list=PL0pwvLDPlsi6YwpKwBsUilTRK1x5RTr9s"
        title="Bike Across America Youtube Playlist"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
  </div>

  <hr class="d-none d-md-block" />

  <h2 class="visually-hidden">Photo Wall</h2>

  <div class="row mb-1 mb-sm-2 mb-md-4 mt-3">
    <div class="col-3 col-md-2">
      <img src="/assets/images/flickr-logo.png" alt="The Flickr Logo" class="img-fluid" />
    </div>
  </div>

  <div id="image-gallery" class="gg-container">
    <div class="gg-box">
      {% for image in site.data.gallery-wall %}
        <img
            src="https://live.staticflickr.com/{{image.thumb}}"
            loading="lazy"
            height="{{image.txy.h}}"
            width="{{image.txy.w}}"
            alt="{{image.title}}"
            class="fade rounded"
            data-full-res="https://live.staticflickr.com/{{image.image}}"
            data-full-res-h="{{image.ixy.h}}"
            data-full-res-w="{{image.ixy.w}}"
            data-flickr-url="https://www.flickr.com/photos/{{image.owner}}/{{image.id}}"
            onload="this.classList.add('show')"
        />
      {% endfor %}
    </div>
  </div>

  <div id="image-src" class="d-none">
    <table class="table">
      <thead>
        <tr>
          <th>Thumbnail</th>
          <th>Source</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

{% include script-tags.html %}

<script>
  const query = new URLSearchParams(document.location.search);

  if (query.has('imgsrc')) {
    document.querySelector('#image-gallery .gg-box').classList.add('d-none');

    const table = document.querySelector('#image-src');
    const tbody = table.querySelector('tbody');

    table.classList.remove('d-none');

    document.querySelectorAll('#image-gallery img').forEach((img) => {
      const row = document.createElement('tr');

      row.innerHTML = `
        <td><img src="${ img.src }" class="img-fluid" loading="lazy" /></td>
        <td
          class="align-middle user-select-all"
          onclick="javascript: copyToClipboard(this)"
        >${ img.getAttribute('data-full-res') }</td>
      `;

      tbody.append(row);
    });
  }
  else {
    require(['lib/lightbox'], ({ default: Lightbox }) => {
      new Lightbox('.gg-container');
    });
  }

  function copyToClipboard(t) {
    navigator.clipboard.writeText(t.innerText).then(() => {
      alert("Copied to clipboard");
    });
  }
</script>
