---
layout: default
title: Track The Journey - Biking Across America
---

{% include navigation-links.html %}

<div class="container">
  <h1 id="map-header" class="display-5">Track the Journey</h1>

  <p class="lead">We will be checking in often, and when we do the location will
    appear here along with lots of other <i>oh-so-fun</i> numbers.</p>

  <div class="my-4">
    {% include quick-stats.html %}
  </div>

  <div id="map" style="height: 400px; width: 100%;" class="mb-4"></div>

  <div id="elevationChart" style="height: 200px;" class="mb-4"></div>

  <hr />

  <h4 class="border-bottom fw-light">All the Numbers</h4>

  <div class="table-responsive-lg">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Altitude (MSL)</th>
          <th>Distance (From Previous)</th>
          <th>Distance (To Date)</th>
        </tr>
      </thead>

      <tbody>
        {% assign totalDistance = 0 %}

        {% for checkin in site.data.location-checkin %}
          {% assign totalDistance = checkin.dist | plus: totalDistance %}
          <tr>
            <td>{{ checkin.idx }}</td>
            <td>{{ checkin.time | divided_by: 1000 | date_to_string: "ordinal", "US" }}</td>
            <td>{{ checkin.lat | round: 5 }}</td>
            <td>{{ checkin.lng | round: 5 }}</td>
            <td>{{ checkin.alt | round }}</td>
            <td>{{ checkin.dist | default: 0 }} m</td>
            <td>{{ totalDistance }} m</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="7">No Data Available</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include script-tags.html %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
  window.locationPins  = {{ site.data.location-checkin | jsonify }};
  window.googleMapsKey = "{{ site.maps_api_key }}";

  require(
    ['lib/map', 'lib/elevation-chart'],
    function ({ default: setupMap }, { default: setupChart }) {
      setupMap();
      setupChart();
    },
  );
</script>
