---
layout: default
title: Track Our Path - Biking Across America
---

<div class="d-flex justify-content-center border-bottom py-2">
  {% include navigation-links.html %}
</div>

<div class="container">
  <h1 id="map-header" class="display-4 mt-4">Track Our Path</h1>

  <div class="my-4">
    {% include quick-stats.html %}
  </div>

  <div id="map" style="height: 400px; width: 100%;" class="mb-4"></div>

  <hr />

  <h4>All the Numbers</h4>

  <div class="table-responsive-lg">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Altitude (MSL)</th>
          <th>Distance (From Previous)</th>
          <th>Distance (To Date)</th>
        </tr>
      </thead>

      <tbody>
        {% assign totalDistance = 0 %}

        {% for checkin in site.data.location-checkin %}
          {% assign totalDistance = checkin.dist | plus: totalDistance %}
          <tr>
            <td>{{ checkin.idx }}</td>
            <td>{{ checkin.time | divided_by: 1000 | date_to_string: "ordinal", "US" }}</td>
            <td>{{ checkin.lat | round: 5 }}</td>
            <td>{{ checkin.lng | round: 5 }}</td>
            <td>{{ checkin.alt | round }}</td>
            <td>{{ checkin.dist | default: 0 }} m</td>
            <td>{{ totalDistance }} m</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% include script-tags.html %}

<script>
  window.locationPins  = {{ site.data.location-checkin | jsonify }};
  window.googleMapsKey = "{{ site.maps_api_key }}";

  require(['lib/map'], function ({ default: setupMap }) { setupMap(); });
</script>
