@mixin sideScrollerElement($url, $height, $width) {
  background: url($url) no-repeat;
  height: $height;
  width: $width;
}

#side-scroller {
  position: fixed;
  bottom: 0;
  left: -400px;
  right: -400px;
  height: 350px;
  overflow: visible;
  z-index: -1;

  .layer {
    position: absolute;
    width: 100%;

    .stage {
      position: relative;
      background: #fff;
      box-shadow: 0 -2px 15px #aaaaaa66;

      &::after {
        content: "";
        background: url('/assets/images/background.png') repeat;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.2;
      }
    }

    .scroller {
      position: relative;
    }
  }

  .sky-layer {
    top: 0;

    .scroller {
      height: 200px;
    }

    .element {
      transform-origin: center top;
    }
  }

  .ground-layer {
    bottom: 0;

    .element {
      bottom: -10px;
      transform-origin: bottom right;
    }

    &.terrain-layer {
      .stage {
        height: 80px;
      }

      .scroller {
        height: 150px;
        bottom: -150px
      }

      .scroller + .scroller {
        bottom: 0;
      }
    }

    &.background-layer {
      .stage {
        height: 40px;
      }

      .scroller {
        height: 200px;
      }
    }

    &.foreground-layer {
      .stage {
        height: 10px;
      }

      .scroller {
        height: 100px;
      }
    }
  }

  .element {
    position: absolute;
    display: inline-block;
    // animation: linear;
    // animation-fill-mode: forwards;
    // animation-name: scroll-right-to-left;
    right: 0;
  }

  .element-reversed {
    right: unset;
    left: 0;
    // animation-name: scroll-left-to-right;
  }


  .bird-flying-left {
    @include sideScrollerElement('/assets/images/bird-flying-left.png', 224px, 276px);
  }

  .bird-flying-right {
    @include sideScrollerElement('/assets/images/bird-flying-right.png', 219px, 264px);
  }

  .cactus {
    @include sideScrollerElement('/assets/images/cactus.png', 320px, 236px);
  }

  .campfire {
    @include sideScrollerElement('/assets/images/campfile.png', 320px, 177px);
  }

  .chubby-shrub {
    @include sideScrollerElement('/assets/images/chubby-shrub.png', 149px, 320px);
  }

  .cloud {
    @include sideScrollerElement('/assets/images/cloud.png', 218px, 320px);
  }

  .grass-patch {
    @include sideScrollerElement('/assets/images/grass-patch.png', 261px, 320px);
  }

  .hills {
    @include sideScrollerElement('/assets/images/hills.png', 132px, 320px);
  }

  .mountains {
    @include sideScrollerElement('/assets/images/mountains.png', 334px, 640px);
  }

  .oak-tree {
    @include sideScrollerElement('/assets/images/oak-tree.png', 320px, 297px);
  }

  .picnic-table {
    @include sideScrollerElement('/assets/images/picnic-table.png', 161px, 320px);
  }

  .pine-tree {
    @include sideScrollerElement('/assets/images/pine-tree.png', 320px, 193px);
  }

  .sign {
    @include sideScrollerElement('/assets/images/sign.png', 320px, 131px);
  }

  .tall-shrub {
    @include sideScrollerElement('/assets/images/tall-shrub.png', 320px, 275px);
  }

  .tent {
    @include sideScrollerElement('/assets/images/tent.png', 248px, 320px);
  }

  .the-sun {
    @include sideScrollerElement('/assets/images/the-sun.png', 320px, 320px);
  }

  .tumbleweed {
    @include sideScrollerElement('/assets/images/tumbleweed.png', 271px, 273px);
  }

  //.spin {
  //  animation: spin-counterclockwise 4s linear infinite;
  //}
}

@keyframes scroll-right-to-left {
  0%   { right: 0; }
  100% { right: 100%; }
}

@keyframes scroll-left-to-right {
  0%   { left: 0; }
  100% { left: 100%; }
}

@keyframes spin-counterclockwise {
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(-360deg) }
}
