@mixin sideScrollerElement($url, $height, $width) {
  background: url('/assets/images/sidescroller/' + $url) no-repeat;
  background-size: contain;
  height: $height;
  width: $width;
}

#side-scroller {
  position: fixed;
  bottom: 0;
  left: -400px;
  right: -400px;
  height: 350px;
  overflow: visible;
  z-index: -1;

  .layer {
    .element {
      position: absolute;
      display: inline-block;
      right: 0;
    }

    .element-reversed {
      right: unset;
      left: 0;
    }

    .stage {
      background: #fff;
      box-shadow: 0 -2px 15px #aaaaaa66;

      &::after {
        content: "";
        background: url('/assets/images/sidescroller/background.png') repeat;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0.2;
      }
    }

    &.air-layer .scroller .element {
      transform-origin: center center;
    }

    &.earth-layer .scroller .element {
        transform-origin: bottom right;
        bottom: 0;
    }
  }



  .bird-flying-left  { @include sideScrollerElement('bird-flying-left.png', 224px, 276px); }
  .bird-flying-right { @include sideScrollerElement('bird-flying-right.png', 219px, 264px); }
  .cactus            { @include sideScrollerElement('cactus.png', 320px, 236px); }
  .campfire          { @include sideScrollerElement('campfile.png', 320px, 177px); }
  .chubby-shrub      { @include sideScrollerElement('chubby-shrub.png', 149px, 320px); }
  .cloud             { @include sideScrollerElement('cloud.png', 218px, 320px); }
  .grass-patch       { @include sideScrollerElement('grass-patch.png', 261px, 320px); }
  .hills             { @include sideScrollerElement('hills.png', 132px, 320px); }
  .mountains         { @include sideScrollerElement('mountains.png', 334px, 640px); }
  .oak-tree          { @include sideScrollerElement('oak-tree.png', 320px, 297px); }
  .picnic-table      { @include sideScrollerElement('picnic-table.png', 161px, 320px); }
  .pine-tree         { @include sideScrollerElement('pine-tree.png', 320px, 193px); }
  .sign              { @include sideScrollerElement('sign.png', 320px, 131px); }
  .tall-shrub        { @include sideScrollerElement('tall-shrub.png', 320px, 275px); }
  .tent              { @include sideScrollerElement('tent.png', 248px, 320px); }
  .tumbleweed        { @include sideScrollerElement('tumbleweed.png', 271px, 273px); }

  .the-daytime-firmament {
    z-index: -10000;
    height: 320px;
    width: 320px;
    transform: scale(0.3);
    transform-origin: top center;
    left: 45%;
    bottom: unset !important;
    top: -250px;

    .the-sun {
      @include sideScrollerElement('the-sun.png', 320px, 320px);
      animation: spin-counterclockwise 60s infinite linear;
      opacity: 0.9;
    }
  }

  .bike-box {
    left: 50%;
    height: 161px;
    width: 320px;
    transform: translateX(-65%) scale(0.7);
    transform-origin: center bottom;

    .packing-materials {
      animation-name: tilt;
      animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    .bicycle {
      @include sideScrollerElement('bicycle.png', 161px, 320px);
      animation-name: bounce;
      animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
      animation-duration: 0.2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}

@keyframes scroll-right-to-left {
  0%   { right: 0; }
  100% { right: 100%; }
}

@keyframes scroll-left-to-right {
  0%   { left: 0; }
  100% { left: 100%; }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@keyframes spin-counterclockwise {
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(-360deg) }
}

@keyframes bounce {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(0, -10px, 0); }
}

@keyframes tilt {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(-2deg); }
  50%  { transform: rotate(0deg); }
  75%  { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}
