:root {
  --bs-font-monospace: 'Source Code Pro', monospace;
  --bs-font-sans-serif: 'Roboto', sans-serif;
  --bs-gray-dark: #343a40;
  --bs-white: #ffffff;
  /*
  --bs-body-bg: var(--bs-gray-dark);
  --bs-body-color: var(--bs-white);*/
}