---
layout: default
title: Blog
---

{% include navigation-links.html %}

<div class="container">
  <h1 class="display-5">Latest</h1>

  <div class="list-group">
    {% assign mostRecent = site.posts | slice: 0, 10 %}

    {% for post in mostRecent %}
      <a href="{{ post.url }}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ post.title }}</h5>
          <small>{{ post.date | date_to_string: "ordinal", "US" }}</small>
        </div>

        <p class="mb-1">{{ post.author }}</p>
        <small class="post-excerpt">{{ post.excerpt }}</small>
      </a>
    {% endfor %}
  </div>
</div>
