:root {
    --bs-font-monospace: 'Source Code Pro', monospace;
}

#countdown {
    background: linear-gradient(#fff, #ddd, #fff);
}

#countdown > div {
    margin: 0 1px;
    padding: 10px 9px;
    background: #fff;
}

#countdown > div:first-child {
    margin-left: 0;
    padding-left: 10px;
}

#countdown > div:last-child {
    margin-right: 0;
    padding-right: 10px;
}